<div class="container">
  <div class="row">
    <div class="col-md-8">
        <app-cell-row row="1"></app-cell-row>
        <app-cell-row row="2"></app-cell-row>
        <app-cell-row row="3"></app-cell-row>
        <app-cell-row row="4"></app-cell-row>
        <app-cell-row row="5"></app-cell-row>
        <app-cell-row row="6"></app-cell-row>
        <app-cell-row row="7"></app-cell-row>
        <app-cell-row row="8"></app-cell-row>
        <app-cell-row row="9"></app-cell-row>
    </div>
    <div class="col-md-4" style="background-color: steelblue;">

    </div>
  </div>
</div>
