<app-cell-row row="1" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="2" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="3" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="4" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="5" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="6" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="7" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="8" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
<app-cell-row row="9" [json]="json" (setCellValue)="cellUpdateCallback($event)"></app-cell-row>
